<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".english.EnglishDashboardActivity" />
        <activity android:name=".french.FrenchDashboardActivity" />
        <activity android:name=".maths.MathsDashboardActivity" />
        <activity android:name=".english.vocabulary.VocabularyDashboardActivity" />
        <activity android:name=".english.conjugaison.ConjugaisonActivity" />
        <activity android:name=".english.oralcomprehension.OralComprehensionActivity" />
        <activity android:name=".english.vocabulary.VocabularyWordsActivity" />
        <activity android:name=".english.vocabulary.VocabularyColorsActivity" />
        <activity android:name=".english.vocabulary.VocabularyFiguresActivity" />
        <activity android:name=".english.quizz.EnglishResultActivity" />
        <activity android:name=".history.HistoryDashboardActivity" />
        <activity android:name=".history.activities.QuizzActivity" />
        <activity android:name=".history.activities.ResultActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <receiver android:name=".notification.AlarmReceiver" />
        <activity android:name=".french.dictation.DictationActivity" />
        <activity android:name=".french.quizz.QuizzActivity" />
        <activity android:name=".english.oralcomprehension.EnglishResultAudioActivity" />
    </application>

</manifest>